<div class="sorting-container">
    <mat-form-field appearance="fill">
      <mat-label class="sort-label">Sort By</mat-label>
      <mat-select [(value)]="sortOption" (selectionChange)="onSortChange()">
        <mat-option value="name-asc" class="sort-option">Name (Low to High)</mat-option>
        <mat-option value="price-asc" class="sort-option">Price (Low to High)</mat-option>
        <mat-option value="price-desc" class="sort-option">Price (High to Low)</mat-option>
        <mat-option value="quantity-asc" class="sort-option">Quantity (Low to High)</mat-option>
        <mat-option value="quantity-desc" class="sort-option">Quantity (High to Low)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>