<div class="main-container">
    <div class="form-container">
        <form (ngSubmit)="executePurchase()">
            <mat-form-field>
                <mat-label>{{ 'CHOOSE_PRODUCT' | translate }}</mat-label>
                <mat-select [ngModel]="selectedProductId" (selectionChange)="onProductSelect($event.value)"
                    name="product">
                    <mat-option *ngFor="let product of products" [value]="product.id">
                        {{ product.name }} - {{ 'QUANTITY' | translate }} {{ product.quantity }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>{{ 'QUANTITY' | translate }}</mat-label>
                <input matInput type="number" [(ngModel)]="purchaseQuantity" name="quantity">
            </mat-form-field>

            <button mat-button [disabled]="!productAvailableForPurchase" (click)="executePurchase()">
                {{ 'PURCHASE' | translate }}
            </button>
            
            <p *ngIf="!productAvailableForPurchase">{{ 'OUT_OF_STOCK' | translate }}</p>
        </form>
    </div>

    <mat-card *ngIf="selectedProduct">
        <mat-card-header>
            <mat-card-title>{{selectedProduct.name}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><strong>{{ 'DESCRIPTION' | translate }}:</strong> {{selectedProduct.description}}</p>
            <p><strong>{{ 'PRICE' | translate }}:</strong> ${{selectedProduct.price}}</p>
            <p><strong>{{ 'FINAL_PRICE' | translate }}:</strong> ${{selectedProduct.finalPrice}}</p>
            <p><strong>{{ 'QUANTITY' | translate }}:</strong> {{selectedProduct.quantity}}</p>
        </mat-card-content>
    </mat-card>
</div>