<div class="main-container">
    <div class="form-container">
        <form (ngSubmit)="executePurchase()">
            <mat-form-field>
                <mat-label>Choose a Product</mat-label>
                <mat-select [ngModel]="selectedProductId" (selectionChange)="onProductSelect($event.value)"
                    name="product">
                    <mat-option *ngFor="let product of products" [value]="product.id">
                        {{ product.name }}, Quantity - {{ product.quantity }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Quantity</mat-label>
                <input matInput type="number" [(ngModel)]="purchaseQuantity" name="quantity">
            </mat-form-field>

            <button mat-button [disabled]="!productAvailableForPurchase" (click)="executePurchase()">Purchase</button>
            <p *ngIf="!productAvailableForPurchase">Sorry, this product is out of stock.</p>
        </form>
    </div>

    <mat-card *ngIf="selectedProduct">
        <mat-card-header>
            <mat-card-title>{{selectedProduct.name}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><strong>Description:</strong> {{selectedProduct.description}}</p>
            <p><strong>Price:</strong> ${{selectedProduct.price}}</p>
            <p><strong>Final Price:</strong> ${{selectedProduct.finalPrice}}</p>
            <p><strong>Quantity:</strong> {{selectedProduct.quantity}}</p>
        </mat-card-content>
    </mat-card>
</div>