@spacing-medium: 2em;
@spacing-small: 1em;
@filter-width: 250px;
@product-card-width: calc(33.333% - 1em);
@side-nav-width: 350px;
@general-padding: 16px;
@side-nav-container-height: 90vh;
@slider-width: 90%;
@filter-input-width: 40%;