<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="filter-sidenav">
        <div *ngFor="let criterion of criteria">
            <div *ngIf="isSingleValueCriterion(criterion)" class="filter-section">
                <mat-form-field appearance="outline">
                    <mat-label>{{criterion.field}}</mat-label>
                    <input matInput [(ngModel)]="criterion.value" (ngModelChange)="handleFilterChange()">
                    <mat-icon matPrefix>{{ 'SEARCH' | translate }}</mat-icon>
                </mat-form-field>
            </div>
            <div *ngIf="isRangeValueCriterion(criterion)" class="filter-section">
                <div class="filter-title">{{ criterion.field}}</div>
                <mat-form-field appearance="outline" class="filter-input">
                    <mat-label>{{ 'FROM' | translate }}</mat-label>
                    <input matInput type="text" [(ngModel)]="criterion.minValue" (ngModelChange)="handleFilterChange()">
                </mat-form-field>

                <mat-form-field appearance="outline" class="filter-input">
                    <mat-label>{{ 'TO' | translate }}</mat-label>
                    <input matInput type="text" [(ngModel)]="criterion.maxValue" (ngModelChange)="handleFilterChange()">
                </mat-form-field>

                <div class="slider-container">
                    <mat-slider [min]="getCriterionRange(criterion.field).min"
                        [max]="getCriterionRange(criterion.field).max" step="1" class="product-filter-slider">
                        <input matSliderStartThumb [(ngModel)]="criterion.minValue"
                            (ngModelChange)="handleFilterChange()">
                        <input matSliderEndThumb [(ngModel)]="criterion.maxValue"
                            (ngModelChange)="handleFilterChange()">
                    </mat-slider>
                </div>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>