<form class="profit-form">
    <mat-form-field class="profit-form-field">
        <input matInput [matDatepicker]="picker" placeholder="{{ 'CHOOSE_A_DATE' | translate }}"
            [formControl]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker" class="profit-datetimepicker-toggle"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" (yearSelected)="handleYear($event, picker)"
            (monthSelected)="handleMonth($event, picker)">
        </mat-datepicker>
    </mat-form-field>
    <mat-form-field class="profit-form-field">
        <mat-label>{{ 'CHART_TYPE' | translate }}</mat-label>
        <mat-select [(value)]="selectedChartType">
            <mat-option *ngFor="let type of chartTypes" [value]="type.value">
                {{ type.viewValue | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<div class="slide-container">
    <span class="toggle-span">{{ 'MONTHLY' | translate }}</span>
    <mat-slide-toggle (change)="onToggleChange($event)" [checked]="isYearlyViewMode"></mat-slide-toggle>
    <span class="toggle-span">{{ 'YEARLY' | translate }}</span>
</div>
<app-profit-graph [isYearlyViewMode]="isYearlyViewMode" [data]="profitData" [type]="selectedChartType"
    [attributes]="attributeLabel"></app-profit-graph>
<app-profit-table [isYearlyViewMode]="isYearlyViewMode" [attributes]="attributeLabel"
    [tableColumns]="getDataTableColumns()" [tableData]="profitData">
</app-profit-table>