form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    mat-form-field {
        width: 35%;
        margin-bottom: 1rem;
        padding: 10px;

        mat-datetimepicker-toggle {
            width: 100%;
        }
    }
}

.slide-container {
    display: flex;
    align-items: center;

    span {
        margin: 0 8px; // Adjust this value as needed
    }
}