<div class="sorting-container">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'SORT_BY' | translate }}</mat-label>
    <mat-select [(value)]="sortOption" (selectionChange)="onSortChange()">
      <mat-option value="id-asc">{{ 'ID_LOW_TO_HIGH' | translate }}</mat-option>
      <mat-option value="price-asc">{{ 'PRICE_LOW_TO_HIGH' | translate }}</mat-option>
      <mat-option value="price-desc">{{ 'PRICE_HIGH_TO_LOW' | translate }}</mat-option>
      <mat-option value="quantity-asc">{{ 'QUANTITY_LOW_TO_HIGH' | translate }}</mat-option>
      <mat-option value="quantity-desc">{{ 'QUANTITY_HIGH_TO_LOW' | translate }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>