<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="filter-sidenav">
        <div class="filter-section">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search Name" [(ngModel)]="searchName" (ngModelChange)="onFilterChange()">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="filter-section">
            <div class="filter-title">Price</div>
            
            <mat-form-field appearance="outline" class="filter-input">
                <mat-label>From</mat-label>
                <input matInput type="text" [(ngModel)]="priceRange[0]" (ngModelChange)="onFilterChange()">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="filter-input">
                <mat-label>To</mat-label>
                <input matInput type="text" [(ngModel)]="priceRange[1]" (ngModelChange)="onFilterChange()">
            </mat-form-field>

            <div class="slider-container">
                <mat-slider [min]="minPrice" [max]="maxPrice" step="1" class="price-slider">
                    <input matSliderStartThumb [(ngModel)]="priceRange[0]" (ngModelChange)="onFilterChange()">
                    <input matSliderEndThumb [(ngModel)]="priceRange[1]" (ngModelChange)="onFilterChange()">
                </mat-slider>
            </div>
        </div>
        <div class="filter-section">
            <div class="filter-title">Quantity</div>
            
            <mat-form-field appearance="outline" class="filter-input">
                <mat-label>From</mat-label>
                <input matInput type="text" [(ngModel)]="quantityRange[0]" (ngModelChange)="onFilterChange()">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="filter-input">
                <mat-label>To</mat-label>
                <input matInput type="text" [(ngModel)]="quantityRange[1]" (ngModelChange)="onFilterChange()">
            </mat-form-field>
        
            <div class="slider-container">
                <mat-slider [min]="minQuantity" [max]="maxQuantity" step="1" class="quantity-slider">
                    <input matSliderStartThumb [(ngModel)]="quantityRange[0]" (ngModelChange)="onFilterChange()">
                    <input matSliderEndThumb [(ngModel)]="quantityRange[1]" (ngModelChange)="onFilterChange()">
                </mat-slider>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>