<mat-toolbar color="primary">
    <span>{{ 'SHOP' | translate }}</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/products']">{{ 'PRODUCTS' | translate }}</button>
    <button mat-button [routerLink]="['/purchases']">{{ 'PURCHASES' | translate }}</button>
    <button mat-button [routerLink]="['/reports']">{{ 'REPORTS' | translate }}</button>
    <button mat-button [routerLink]="['/graphs']">Profit</button>
    <app-language></app-language>
</mat-toolbar>

<router-outlet></router-outlet>